{
  "trailingComma": "all",
  "printWidth": 88,
  "semi": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf"
}


